.teko-uniquifier> {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --clr-dark: #070a12;
    --clr-light: #f9f9fb;
    --clr-accent: #b027ff;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  * {
    font-family: 'Archivo Black', sans-serif;
  }
  
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    word-spacing: 1.4px;
    color: var(--clr-dark);
    background-color: var(--clr-dark);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
h1 {
    font-size: 25px;
    /* border-bottom: 5px solid var(--clr-dark); */
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
.button {
    /* Add your button styles here */
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5em;    
    font-weight: 700;    
    padding: 20px, 40px;
    color: var(--clr-accent);
    background-color: var(--clr-dark);
    border: 5px solid var(--clr-accent);
    border-color: var(--clr-accent);
    border-start-end-radius: 5px solid var(--clr-accent);
    border-radius: 5px;
    
    /* transition-quotation-mark */
    transition-property: transform;
    transition-duration: 0.35s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition: transform 0.35s; background-color: 1s; color: 0.7s;
  }


.button:hover {
    transform: translateY(-15px);
    transform: scale(1.2);
    background-color: var(--clr-accent);
    color: var(--clr-light);

}